<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>:: Detail Page ::</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>
    <div class="container page-header">
      <h1>:: 자세한 내용을 알려주는 페이지 ::</h1>
    </div>

    <hr>

    <div class="container">
      <br><br>
      <h2>{{blog_detail.title}}</h2>
      <p>{{blog_detail.pub_date}}</p>
      <p>{{blog_detail.content}}</p>

    <a type="button" class="btn btn-primary" href="{%url 'index'%}">전체목록</a>
    <a href="{% url 'destroy' blog_detail.id %}" type="button" class="btn btn-warning">삭제</a>
    </div>
  </body>
</html>
