<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>:: Index Page ::</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  {%extends 'base.html'%}

  {%block contents%}
  <body style="background-image: url('https://images.pexels.com/photos/207301/pexels-photo-207301.jpeg?cs=srgb&dl=hd-wallpaper-ivy-leaves-207301.jpg&fm=jpg');">
    <div class="container page-header">
        <h1 class="page-header">:: Index Page ::</h1>
    </div>
    <hr>
      {%for blog in blogs.all%}
        <div class="container">
          <div class="card">
              <div class="card-body">
                  <h2 class="card-title">{{blog.title}}</h2>
                  <h3 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h3>
                  <p class="card-text">{{blog.summary}}</p>
                  <a href="{% url 'detail' blog.id %}" class="card-link">...more</a>
              </div>
          </div>
        </div>
        <br>
      {%endfor%}
  </body>
  {%endblock%}
</html>
